{{ ansible_managed | comment }}
{% if not ansible_local.listmonk.general.bootstrapped | default(false) | bool %}
#LISTMONK_ADMIN_USER=...
#LISTMONK_ADMIN_PASSWORD=...
{% else %}
{{ listmonk.bootstrap_mnemonic }}
{% endif %}

# Custom ENV variables
{% for env in listmonk_service_additional_env_vars %}
{{ env.key }}={{ env.value }}
{% endfor %}