{{ ansible_managed | comment }}
[Unit]
Description=Listmonk Server
ConditionPathExists={{ listmonk.config_dir }}/config.toml
# The PostgreSQL database may not be on the same host but if it
# is listmonk should wait for it to start up.
{% if listmonk.db_is_on_the_same_host %}
Wants=network.target
After=postgresql.service
{% else %}
After=network.target
{% endif %}

[Service]
Type=simple
PermissionsStartOnly=true
EnvironmentFile=-{{ listmonk_sysconf_file }}
ExecStartPre=/bin/sh -c 'mkdir -p "{{ listmonk.home }}/uploads"'
ExecStartPre={{ listmonk.home }}/bin/listmonk --config {{ listmonk.config_dir }}/config.toml --upgrade --yes
{% if listmonk.service_start_with_config %}
ExecStart={{ listmonk.home }}/bin/listmonk --config {{ listmonk.config_dir }}/config.toml {{ listmonk.service_start_args }}
{% else %}
ExecStart={{ listmonk.service_start_args }}
{% endif %}
User={{ listmonk.service_user }}
Group={{ listmonk.service_group }}
SuccessExitStatus=0 143
{% if listmonk_service_restart_always %}
Restart=always
{% elif listmonk_service_restart_on_failure %}
Restart=on-failure
{% endif %}
RestartSec={{ listmonk_service_restartsec }}
{% if listmonk_http_port | int < 1024 or listmonk_https_port | int < 1024 %}
AmbientCapabilities=CAP_NET_BIND_SERVICE
{% endif %}
{% if listmonk_systemd_wait_for_port %}
ExecStartPost=/usr/bin/timeout {{ listmonk_systemd_wait_for_timeout }} sh -c 'while ! ss -H -t -l -n sport = :{{ listmonk_systemd_wait_for_port_number }} | grep -q "^LISTEN.*:{{ listmonk_systemd_wait_for_port_number }}"; do sleep 1; done && /bin/sleep {{ listmonk_systemd_wait_for_delay }}'
{% endif %}
{% if listmonk_systemd_wait_for_log %}
ExecStartPost=/usr/bin/timeout {{ listmonk_systemd_wait_for_timeout }} sh -c 'cat {{ listmonk.log.file }} | sed "/Profile.*activated/ q" && /bin/sleep {{ listmonk_systemd_wait_for_delay }}'
{% endif %}

# To enable a static dir, add the following
# --static-dir /etc/listmonk/static
# to the end of the ExecStart line above after creating the dir and fetching the files with:
# mkdir -p /etc/listmonk/static ; wget -O - https://github.com/knadh/listmonk/archive/master.tar.gz | tar xz -C /etc/listmonk/static --strip=2 "listmonk-master/static"

# Use systemd’s ability to disable security-sensitive features
# that listmonk does not explicitly need.
# NoNewPrivileges should be enabled by DynamicUser=yes but systemd-analyze
# still recommended to explicitly enable it.
NoNewPrivileges=True
# listmonk doesn’t need any capabilities as defined by the linux kernel
# see: https://man7.org/linux/man-pages/man7/capabilities.7.html
CapabilityBoundingSet=
# listmonk only executes native code with no need for any other ABIs.
SystemCallArchitectures=native

# Make /home/, /root/, and /run/user/ inaccessible.
# ProtectSystem=strict and ProtectHome=read-only are implied by DynamicUser=True
# If you set ExecStartPre=/usr/bin/mkdir -p "listmonk/uploads" to a directory in /home/ or /root/ it will cause uploads to fail 
# See https://github.com/knadh/listmonk/issues/843#issuecomment-1836023524
ProtectHome=True

# Make sure files created by listmonk are only readable by itself and
# others in the listmonk system group.
UMask=0027
# listmonk only needs to support the IPv4 and IPv6 address families.
RestrictAddressFamilies=AF_INET AF_INET6


[Install]
WantedBy=multi-user.target