---
name: Ansible Galaxy Role Import
on:
  release:
    types: [published]
  workflow_dispatch:
permissions: read-all
jobs:
  ansible-galaxy:
    name: Import role to Ansible Galaxy
    runs-on: ubuntu-24.04
    steps:
      - name: Check out the codebase
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up Python 3
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: 3.x

      - name: Install Ansible core
        run: pip3 install -r .github/workflows/requirements/requirements_ansible.txt

      - name: Import role releases to Ansible Galaxy
        run: ansible-galaxy role import --api-key ${{ secrets.GALAXY_API_KEY }} $(echo ${{ github.repository }} | cut -d/ -f1) $(echo ${{ github.repository }} | cut -d/ -f2)
