---
name: Ansible Galaxy Role Import
on:
  release:
    types: [published]
  workflow_dispatch:
permissions: read-all
jobs:
  ansible-galaxy:
    name: Import role to Ansible Galaxy
    runs-on: ubuntu-24.04
    steps:
      - name: Check out the codebase
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Set up Python 3
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: 3.x

      - name: Install Ansible core
        run: pip3 install -r .github/workflows/requirements/requirements_ansible.txt

      - name: Import role releases to Ansible Galaxy
        run: ansible-galaxy role import --api-key ${{ secrets.GALAXY_API_KEY }} $(echo ${{ github.repository }} | cut -d/ -f1) $(echo ${{ github.repository }} | cut -d/ -f2)
